@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

img {
  max-width: 100%;
  display: block;
}

.cardComponent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1200px;
  margin: -90px auto;
  grid-gap: 20px;
}

.cardTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardTitleContainer {
  width: 100%;
  height: 45px;
  background: black;
  color: #937341;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2.2rem;
}
.line {
  border: 5px solid #937341;
}
.divImg {
  background-image: url(../../assets/starships/millennium.jpg);
  /* width: 100px; */
  height: 100px;
  max-width: 1200px;
}
.cardButton {
  cursor: none;
  border: none;
  border-radius: none;
  transition: none;
  background: none;
  color: none;
  padding: none;
}
